@model List<User>
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Pseudonyme</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>



